<h1>hello world</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <title>Document</title>
</head>
<body>


<section class="pets">
<%pets.each do |pet| %>

    <article class="card">
     <h2>
        <a href="'/'">
        <%= pet['name'] %>
        </a>

    </h2>
    <img src="<%= pet['image_url'] %>" alt="<%= pet['name'] %>" srcset="">

    </article>

    <% end %>

</section>









    
</body>
</html>
