* {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: mistyrose;
}

.main_title {
    background-image: url("https://i.imgur.com/5vlI8Zys.jpg");
    background-repeat: repeat-x;
    
}

title {
    color: red;
}







